{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "useTabs": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "strict",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "requirePragma": false,
  "rangeStart": 0,
  "experimentalTernaries": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "tw"],
  "overrides": [
    {
      "files": "*.{ts,tsx,js,jsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 120
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
