@import "tailwindcss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

::selection {
  @apply bg-emerald-900 text-emerald-500;
}

body {
  background: #82A52C;
  /* color: rgb(var(--foreground-rgb)); */
  font-family: neue-haas-grotesk-display, toppan-bunkyu-midashi-go-std, Arial, Helvetica, sans-serif;
  @apply text-emerald-900 tracking-wide font-medium;
}

a {
  @apply underline underline-offset-4 decoration-[1.5px] decoration-dashed;
}
