@import "tailwindcss";

:root {
  --background-rgb: 34, 88, 66;
  --foreground-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: neue-haas-grotesk-display, yu-gothic-pr6n, sans-serif;
  @apply text-emerald-950 tracking-wide;
}

a {
  @apply underline underline-offset-4 decoration-[1.5px] decoration-dashed;
}